<div class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header">{{ site.title }}</h4>
                <div class="ui inverted link list">
                    <div class="item">&copy; 2024 {{ site.author }}</div>
                    <div class="item">Designed and built with all the love and passion in the world by {{ site.author }}.</div>
                </div>
            </div>
        </div>
    </div>
</div>
