<div class="ui text container">
    {%- if site.data.banner.show -%}
        {%- if site.data.banner.hitokoto -%}
            <a id="hitokoto" class="ui black pointing below label"><i class="quote left icon"></i></a>
        {%- else -%}
            {%- if site.data.banner.link -%}
                <a class="ui {{ site.data.banner.color }} pointing below {% unless site.data.banner.icon %}{% if site.data.banner.image %}image {% endif %}{% endunless %}label" href="{{ site.data.banner.link }}" target="_blank">{% if site.data.banner.icon %}<i class="{{ site.data.banner.icon }} icon"></i>{% elsif site.data.banner.image %}<img src="{{ site.data.banner.image }}" alt="Message Image">{% endif %}{{ site.data.banner.content }}{% if site.data.banner.detail %}<div class="detail">{{ site.data.banner.detail }}</div>{% endif %}</a>
            {%- else -%}
                <div class="ui {{ site.data.banner.color }} pointing below {% unless site.data.banner.icon %}{% if site.data.banner.image %}image {% endif %}{% endunless %}label">{% if site.data.banner.icon %}<i class="{{ site.data.banner.icon }} icon"></i>{% elsif site.data.banner.image %}<img src="{{ site.data.banner.image }}" alt="Message Image">{% endif %}{{ site.data.banner.content }}{% if site.data.banner.detail %}<div class="detail">{{ site.data.banner.detail }}</div>{% endif %}</div>
            {%- endif -%}
        {%- endif -%}
    {%- endif -%}
    <h1 class="ui inverted logo header">
        <img class="ui centered image" src="{{ site.logo_white }}" alt="Logo">
    </h1>
    <h2 class="ui inverted header">{{ site.title }}</h2>
    <div id="search-shortcuts" class="ui labels">
        {% for item in site.data.search_services %}{% if item.shortcut %}<a class="ui {{ item.shortcut.style }} label{% unless item.shortcut.show %} hidden{% endunless %}" data-search-service-id="{{ item.id }}" data-tooltip="{{ item.name }}" data-variation="mini basic" data-position="top center" data-inverted=""><i class="{{ item.shortcut.icon }} fitted icon"></i></a>{% endif %}{% endfor %}
    </div>
    <div class="ui inverted fluid right action input" id="search-div">
        <input id="search-query" type="text" placeholder="立即搜索" autofocus="autofocus">
        <select id="search-services" class="ui compact selection dropdown">
            {% for item in site.data.search_services %}<option id="{{ item.id }}" value="{{ item.id }}" data-url="{{ item.url }}" {% if item.transcode %}data-transcode="true" data-transcode-from="{{ item.transcode.from }}" data-transcode-to="{{ item.transcode.to }}"{% else %}data-transcode="false"{% endif %}>{{ item.name }}</option>{% endfor %}
        </select>
        <div id="search-button" class="ui black icon button"><i class="search icon"></i></div>
    </div>
